@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html, body, main {
  color: rgb(var(--foreground-rgb));
  background-color: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    ;
}

@layer utilities {}

.dialog {
  display: grid;
  place-items: center;
  height: 100%;
  color: black;

  background: transparent;
}

.backdrop {
  position: fixed;
  inset: 0;

  background-color: rgba(0, 0, 0, 0.8);
}
